:root {
    --background-color:rgb(44, 41, 49);
    --light-bg-color:  rgb(97, 97, 97);
    --medium-bg-color:rgb(25, 61, 39); 
    --dark-bg-color:rgb(30, 28, 39);
    --section-dark-color:rgb(18, 20, 20);
    --accent-color: rgb(112, 233, 116);
    --text-color: rgb(232, 253, 222);
    --subtitle-color: rgb(206, 223, 198);
    --gradient-start: rgb(34, 59, 75);
}
[data-theme="dark"] {
    --background-color:rgb(44, 41, 49);
    --light-bg-color:  rgb(97, 97, 97);
    --medium-bg-color:rgb(25, 61, 39); 
    --dark-bg-color:rgb(30, 28, 39);
    --section-dark-color:rgb(18, 20, 20);
    --accent-color: rgb(112, 233, 116);
    --text-color: rgb(232, 253, 222);
    --subtitle-color: rgb(206, 223, 198);
    --gradient-start: rgb(34, 59, 75);
}

[data-theme="light"] {
    --background-color:rgb(220, 229, 230);
    --light-bg-color:  rgb(219, 233, 235);
    --medium-bg-color:rgb(196, 231, 193); 
    --dark-bg-color:rgb(255, 255, 255);
    --section-dark-color:rgb(184, 202, 200);
    --accent-color: rgb(63, 114, 88);
    --text-color: rgb(66, 71, 75);
    --subtitle-color: rgb(82, 82, 82);
    --gradient-start: rgb(184, 217, 223);
}
body
{
    color: var(--text-color);
    margin: 0px;
    font-family: 'Segoe UI', Tahoma;
    background-color: var(--background-color);
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    transition: background-color 0.3s, color 0.3s;
}

/* Prevent page scrolling when certain full-screen/hero animations run */
body.no-scroll {
    overflow: hidden !important;
    height: 100vh !important;
    touch-action: none !important;
}


.series-container .hover-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 8px 12px;
    font-size: 12px;
    color: var(--text-color);
    background-color: var(--background-color);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease; 
    z-index: 2;
}
 .card{
    color:var(--text-color);
    width: 300px;
    margin: 10px;
    text-align: left;
    line-height: 35px;
    font-size: 30px;

    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1; 
    pointer-events: none; 
    }
[data-theme="light"] .card{
    color:white;
}
.hamburger-menu {
  width: 30px;
  height: 25px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1500; /* very high */
  position: relative; /* or fixed if needed */
}

.hamburger-menu span {
  display: block;
  height: 3px;
  border-radius: 2px;
  transition: all 0.3s ease;
}


.series-container{
    position: relative;
    display: inline-block;
    min-width: 200px;
    max-width: 400px;
    margin: 20px;
    overflow: hidden;
    text-align: center;
}
.series-container img {
    display: block;
    transition: filter 0.3s ease; 
    width: 400px;
    height: 250px;
}
/* off images are green, even are blue (corresponds to site design :3)*/
[data-theme="dark"] .series-container:nth-child(odd) img {
  filter: brightness(50%) grayscale(100%) sepia(100%) hue-rotate(90deg) saturate(200%); /* green */
}

[data-theme="dark"] .series-container:nth-child(even) img {
  filter: brightness(50%) grayscale(100%) sepia(100%) hue-rotate(130deg) saturate(200%); /* blue */
}

[data-theme="light"] .series-container:nth-child(odd) img {
  filter: brightness(80%) grayscale(100%) sepia(100%) hue-rotate(90deg) saturate(100%); /* green */
}

[data-theme="light"] .series-container:nth-child(even) img {
  filter: brightness(80%) grayscale(100%) sepia(100%) hue-rotate(130deg) saturate(100%); /* blue */
}

[data-theme="dark"] .series-container:nth-child(odd) img:hover{
  filter: brightness(80%) grayscale(100%) sepia(100%) hue-rotate(90deg) saturate(200%); /* green */
}

[data-theme="dark"] .series-container:nth-child(even) img:hover{
  filter: brightness(80%) grayscale(100%) sepia(100%) hue-rotate(130deg) saturate(200%); /* blue */
}
[data-theme="light"] .series-container:nth-child(odd) img:hover{
  filter: brightness(100%) grayscale(100%) sepia(100%) hue-rotate(90deg) saturate(100%); /* green */
}

[data-theme="light"] .series-container:nth-child(even) img:hover{
  filter: brightness(100%) grayscale(100%) sepia(100%) hue-rotate(130deg) saturate(100%); /* blue */
}
.series-container .caption-text {
    position: absolute;
    left: auto;
    right: auto;
    bottom: 0;
    color: var(--text-color);
    font-size: 14px; 
    opacity: 0; 
    transition: opacity 0.3s ease; 
    z-index: 1;
    pointer-events: none; 
    background-color: rgba(0, 0, 0, 0.6); 
    text-align: center;
    padding: 10px 5px; 
    width: auto; 
}
[data-theme="light"] .series-container .caption-text {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
}

.series-container:hover .caption-text {
    opacity: 1;
}

.big-button{
    display: grid;
    place-items: center;
    width: 200px;
    height: 110px;
    margin: 15px;
}
.big-button h1{
    color: black;
}
.donate{
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: rotation 2s infinite linear;
    padding-top: 10px;
    padding-bottom: 10px;
}
.donate:hover{
    animation: none;
}


.center{
    display: grid;
  place-items: center;
}
a:link { 
    text-decoration: none; 
} 
ul{
    padding: 0;
    margin: 0 auto;
    padding-right: 120px; 
    padding-bottom: 20px;
}
li{
    padding-top: 10px;
}

.social-media{
    text-align: center;
}
p{
    display: block;
    text-align: center;
}
div{
    display: table;
    width: 100%;
    table-layout: fixed;
}
h1{
    color: var(--text-color);
    padding-top: 30px;
    margin-top: 0px;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--dark-bg-color);
    justify-content: center;
}
header{
    background-color: var(--dark-bg-color);
}

a{
    color: var(--text-color);
    padding-bottom: 15px;
}
a.donate-link {
    display: inline-block;  
    text-decoration: none;  
}

.cats{
    display: flex;
    justify-content: center; 
    align-items: center;  
    
}
.cats img{
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 50%;
    min-width: 40%;
    margin-right: 20px;
    padding-left: 150px;
    border-radius: 50%;  
}
.cats p{
    margin: 0;
}
.wide-text{
    padding:20px;
    width: 1000px;
    text-align: left;
    line-height: 35px;
}
.wide-text-centered{
    width: 1000px;
    text-align: center;
    line-height: 35px;
}
.rounded-image{
    border-radius: 15%;
}

.features-caption{
    padding-bottom: 30px;
}
.tagline{
    background: var(--background-color);
}
/* unnecessary currently, but might be useful in the future
.dropdown {
    display:flex;
    width: auto;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;  
    left: 0;
}

.dropdown-content a {
    text-align: center;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-btn {
    text-decoration: none;
    display: inline-block;
} */


footer{
    bottom: 0;
    padding-bottom: 15px;
    padding-top: 20px;
    width:100%;
    background: var(--dark-bg-color);
    min-height: 50px;
}
@keyframes reveal{
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes rotation {
0% {
    scale: 1
}
50% {
    scale:0.8
}
100% {
    scale:1
    }
}
@media (max-width: 500px) {
    .series-container {
        width: 100%; 
        margin: 15px 0;
    }
    
    p{
        min-width: 30px;
        font-size: 22px; 
    }
    
    

    main.shifted {
        transform: translateX(200px);
        transition: transform 0.3s ease;
    }
    .series-container .caption-text {
        width: 95%; 
    }




    .social-media p {
        font-size: 14px;
    }
    .big-button {
        width: 100%;
        height: 50px;
        font-size: 16px;
    }
    .big-button h1{
        margin: 0;
        padding: 0;
        font-size: 24px;
    }
    .caption{
        font-size: 18px;
    }

    .wide-text, .wide-text-centered {
        width: 90%;
    }

    .rounded-image {
        width: 80%;
    }

    .cats p {
        font-size: 18px;
        margin: 10px 0;
    }
    .cats img{
        margin:5;
        padding:0;
    }

    h1.center {
        font-size: 24px;
    }
    /* unnecessary currently, but might be useful in the future
    .dropdown-content {
        display: none;
        position: relative; 
        width: 100%; 
    }

   
    .dropdown.active .dropdown-content {
        display: block;
    }

    
    .dropdown-content a {
        text-align: left;
        padding: 10px 20px;
        border-bottom: 1px solid #ccc;
        display: block;
        width: 100%;
    } */
     .series-container{
        width: 100%;
     }
}
